body {
    font-family: Arial, Helvetica, sans-serif;
}

.app-name{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
}
.venue-card{
  width: 90%;
  margin: 5%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
.venue-hero {
  width: 100%;
  border-radius: 10px 10px 0 0;

}

.venue-card span{
  display: block;
  margin: 1em;
  color:#4340ce;
  font-weight: 800;
    
}

.Collection-edit-link{
  margin-right: .5em;
  background: lightgray;
  line-height: 1.5;
}
.Collection-delete-link{
  margin-left: .5em;
  background: lightgray;
  line-height: 1.5;
}